*{
    padding: 0;
    margin: 0;
    font-family:'Teko', sans-serif;
    box-sizing: border-box;
    color: black;
}
.page01{
    background: #6fdcbf;
    height: 70vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
p{
    font-size: 12px;
}
.page02{
    padding: 0px 25%;
    background-color: #ae8fdb;
    height:75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.page03{
    height: 80vh;
    background-color: #dc849b;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sample01{
    height: 70px;
}
.card01{
    padding: 25px 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
}
.card02{
    padding: 25px 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}
.sample02{
    height: 70px;
}
.page04{
    padding: 0px 25%;
    background-color: rgb(47, 214, 206);
    height: 70vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-around;
    height: 7vh;
    text-align: center;
    background-color: #6fdcbf;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
}

.nav_elements{
    display: flex;
}
li{
    display: flex;
    padding-left: 25px;
}
.nav_logo{
    cursor: pointer;
}
.pad{
    padding-right: 20px;
}
.needs_padding{
    padding: 0px 10px;
}
.image{
    height: 100px;
}
.skill_nav{
    display: flex;
    justify-content: space-around;
    height: 7vh;
    text-align: center;
    background-color: lightpink;
}
.skill_page01{
    padding: 0px 25%;
    background-color: lightpink;
    height: 65vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.skill_page02{
    padding: 0px 25%;
    background: rgb(47, 214, 206);
    height: 65vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
